<div class="section" ng-controller="WowCtrl">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
            	<div class="title wow zoomIn" data-wow-delay="2s" data-wow-duration="3s" data-wow-offset="3">
                	<h1><span>always</span> <span>l<span>OO</span>king</span> <span>for</span><br/><span>web design <span>trends</span></span></h1>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
            	<div class="skills">
                    <h2 class="page-title">. About</h2>
                    <h3>Skills</h3>
                    <h4>CODE</h4>
                    <p class="wow fadeInUp">HTML</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="90" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">Liquid</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="80" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">pug</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="60" max="100"></uib-progressbar>
                    </div>                    
                    <p class="wow fadeInUp">CSS</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="95" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">SASS/SCSS</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="80" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">Javascript</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="65" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">Typescript</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="40" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">JSON</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="70" max="100"></uib-progressbar>
                    </div>
                  
                    <h4>LIBRARY</h4>
                    <p class="wow fadeInUp">React</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="30" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">jQuery</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="70" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">Greensock</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="40" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">Anime.js</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="40" max="100"></uib-progressbar>
                    </div>

                    <h4>FRAMEWORK</h4>
                    <p class="wow fadeInUp">Angular</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="40" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">Ionic</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="60" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">Bootstrap</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="95" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">Foundation</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="60" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">Bulma</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="50" max="100"></uib-progressbar>
                    </div>
                    
                    <h4>CMS</h4>
                    <p class="wow fadeInUp">Shopify</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="90" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">IBM WebSphere</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="45" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">Oracle WCS</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="45" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">Wordpress</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="40" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">Adobe Experience Manager</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="30" max="100"></uib-progressbar>
                    </div>

                    <h4>GRAPHIC DESIGN SOFTWARE</h4>
                    <p class="wow fadeInUp">Adobe Photoshop</p>
                    <div class="wow fadeInUp">
                    	<uib-progressbar animate="true" value="70" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">Adobe Illustrator</p>
                    	<div class="wow fadeInUp">
                    <uib-progressbar animate="true" value="50" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">Figma</p>
                    <div class="wow fadeInUp">
                        <uib-progressbar animate="true" value="60" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">Zeplin</p>
                    <div class="wow fadeInUp">
                        <uib-progressbar animate="true" value="60" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">Adobe XD</p>
                    <div class="wow fadeInUp">
                        <uib-progressbar animate="true" value="60" max="100"></uib-progressbar>
                    </div>
                    <p class="wow fadeInUp">Sketch</p>
                    <div class="wow fadeInUp">
                        <uib-progressbar animate="true" value="50" max="100"></uib-progressbar>
                    </div>

                    <h4>OTHER TOOLS</h4>
                    <p class="wow fadeInUp">Visual Studio Code</p>
                    <p class="wow fadeInUp">npm</p>
                    <p class="wow fadeInUp">yarn</p>
                    <p class="wow fadeInUp">Node.js</p>
                    <p class="wow fadeInUp">Gulp.js</p>
                    <p class="wow fadeInUp">Git</p>
                    <p class="wow fadeInUp">Atlassian Sourcetree</p>
                    <p class="wow fadeInUp">Atlassian Jira</p>
                    <p class="wow fadeInUp">Atlassian Bitbucket</p>
                    <p class="wow fadeInUp">Atlassian Confluence</p>
                    <p class="wow fadeInUp">Google Search Console</p>
                    <p class="wow fadeInUp">PageSpeed Insights</p>
                    <p class="wow fadeInUp">Ottimizzazione SEO</p>
                    <p class="wow fadeInUp">Metodologia Agile</p>
                </div>
            </div>
        </div>
        <!-- /.row -->
        
    </div>
    <!-- /.container -->
    
    <a href="images/Massimiliano_Ronchetti_CV_2024.pdf" class="resume text-center" target="_blank"><i class="fa fa-file-text-o"></i> Download Resume</a>

</div>
<!-- /.section -->
        
<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-xs-8">
            	<div class="next">
                    <p class="read-next">read next</p>
                    <p class="next-page">. Works</p>
                </div>
            </div>
            <div class="col-xs-4">
                <a class="btn btn-lg btn-primary pull-right next-arrow" href="work">
                	<i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->