<div class="section" ng-controller="WowCtrl">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
            	<div class="title wow zoomIn" data-wow-delay="2s" data-wow-duration="3s" data-wow-offset="3">
                	<h1><span>Graphic,</span> <span>Web Designer &amp; </span><br/><span>FRONT END DEVELOPER</span></h1>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
            	<div class="img-profile wow zoomInUp" data-wow-delay="1s" data-wow-duration="3s" data-wow-offset="4">
                    <div class="figure">
                        <img class="img-responsive profile" src="images/profile.jpg" alt="Web Designer Como">
                        <p class="wow fadeInUp" data-wow-delay="2s" data-wow-duration="3s" data-wow-offset="5"><span>M</span>assimiliano<br />Ronchetti</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 wow fadeInUp" data-wow-offset="6">
                <h2 class="page-title">. Pre</h2>
                <p>Dopo aver frequentato scuola di <strong>Grafica Pubblicitaria</strong> a Como e un corso di <strong>Web Design</strong> a Milano, mi sono avvicinato al mondo del <strong>Web</strong> nel 2008.</p>
              <p>Lavorando in diverse <strong>Web Agency</strong> di Como, Milano e Svizzera ho appreso competenze sia <strong>Grafiche</strong> che da <strong>Front End Developer</strong>, andando a completare la figura di <strong>Web Designer</strong>.</p>
              <p>Le ultime esperienze svolte per aziende come: <strong>Prada</strong>, <strong>Rayban</strong>, <strong>H&amp;M</strong> e <strong>Generali</strong> mi hanno avvicinato molto alla figura <strong>Front End</strong> ma con occhio di riguardo sul corretto sviluppo dei layout ideati dai Designer UX/UI per raggiungere i migliori risultati.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-xs-8">
            	<div class="next">
                    <p class="read-next">read next</p>
                    <p class="next-page">. About</p>
                </div>
            </div>
            <div class="col-xs-4">
                <a class="btn btn-lg btn-primary pull-right next-arrow" href="about">
                	<i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->