<div class="section" ng-controller="WowCtrl">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
            	<div class="title wow zoomIn" data-wow-delay="2s" data-wow-duration="3s" data-wow-offset="3">
                	<h1><span>play</span> <span>for</span> <span>fun*</span><br/><span>with code</span></h1>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
            	<div class="cont-page-title">
                	<h2 class="page-title">. Works</h2>
                </div>
                <div class="cont-page-text">
					<p><span>+800</span> Siti Web realizzati in Web Agency attraverso CMS Proprietari</p>
					<p><span>+100</span> Layout Grafici creati ad hoc per qualsiasi esigenza del cliente</p>
					<h3>Some works...</h3>
				</div>
				
                <uib-accordion close-others="false" ng-controller="AccordionCtrl">
                <!-- close-others="oneAtATime" -> for auto close panel -->

                    <!--<uib-accordion-group is-open="status23.open">
                        <uib-accordion-heading>
                            .22 Tomas Than<i class="fa" ng-class="{'fa-angle-up': status23.open, 'fa-angle-down': !status23.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Frontend Development</h4>
                        <img src="images/work/beauty-lab.jpg" class="img-responsive" alt="Wycon - Exotica World Tour" />
                        <p></p>
                        <hr />
                        <p>Sviluppo Frontend del .</p>
                        <hr />
                        <p class="company">Sezione di Wycon Cosmetics realizzata in nss factory.</p>
                        <hr />
                        <ul>
                            <li>.Coda</li>
                            <li>.Koala</li>
                            <li>.Brownie</li>
                            <li>.Git</li>
                            <li>.Bitbucket</li>
                            <li>.SourceTree</li>
                            <li>.DeployBot</li>
                            <li>.HTML</li>
                            <li>.SCSS</li>
                            <li>.Bootstrap</li>
                            <li>.JQuery</li>
                        </ul>
                        <hr />
                        <a href="https://www.wyconcosmetics.com" class="linkSite" target="_blank"><i class="fa fa-external-link"></i> Go to website</a>
                    </uib-accordion-group> -->

                    <uib-accordion-group is-open="status22.open">
                        <uib-accordion-heading>
                            .21 Exotica World Tour<i class="fa" ng-class="{'fa-angle-up': status22.open, 'fa-angle-down': !status22.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Frontend Development</h4>
                        <img src="images/work/exoticaworldtour.jpg" class="img-responsive" alt="Wycon - Exotica World Tour" />
                        <p>Sezione di Wycon Cosmetics dedicata all'iscrizione e alla pubblicazione degli eventi organizzati nel Exotic Tour, serie di eventi promossi da Wycon Cosmetics.</p>
                        <hr />
                        <p>Sviluppo Frontend con animazioni CSS3/JQuery, design responsivo, adattabile per l'iserimento di contenuti lato CMS.</p>
                        <hr />
                        <p class="company">Realizzata in nss factory.</p>
                        <hr />
                        <ul>
                            <li>.Coda</li>
                            <li>.Koala</li>
                            <li>.Brownie</li>
                            <li>.Git</li>
                            <li>.Bitbucket</li>
                            <li>.SourceTree</li>
                            <li>.DeployBot</li>
                            <li>.HTML</li>
                            <li>.SCSS</li>
                            <li>.Bootstrap</li>
                            <li>.JQuery</li>
                        </ul>
                        <hr />
                        <a href="https://www.wyconcosmetics.com/it/exoticaworldtour" class="linkSite" target="_blank"><i class="fa fa-external-link"></i> Go to website</a>
                    </uib-accordion-group>

                    <uib-accordion-group is-open="status21.open">
                        <uib-accordion-heading>
                        .20 Beauty Lab<i class="fa" ng-class="{'fa-angle-up': status21.open, 'fa-angle-down': !status21.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Frontend Development</h4>
                        <img src="images/work/beauty-lab.jpg" class="img-responsive" alt="Wycon - Beauty Lab" />
                        <p>Nuova sezione di Wycon Cosmetics dedicata all'iscrizione di corsi professionali per make up artist.</p>
                        <hr />
                        <p>Sviluppo Frontend con animazioni CSS3/JQuery, design responsivo, adattabile per l'iserimento di contenuti lato CMS.</p>
                        <hr />
						<p class="company">Realizzata in nss factory.</p>
                        <hr />
                        <ul>
                            <li>.Coda</li>
                            <li>.Koala</li>
                            <li>.HTML</li>
                        	<li>.SCSS</li>
                            <li>.Bootstrap</li>
                            <li>.JQuery</li>
                        </ul>
                        <hr />
                        <a href="https://www.wyconcosmetics.com/it/beautylab" class="linkSite" target="_blank"><i class="fa fa-external-link"></i> Go to website</a>
                    </uib-accordion-group> 
            
                    <uib-accordion-group is-open="status20.open">
                        <uib-accordion-heading>
                        .19 Big Uncle Splashpage<i class="fa" ng-class="{'fa-angle-up': status20.open, 'fa-angle-down': !status20.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Frontend Development</h4>
                        <img src="images/work/big-uncle-splash-page.png" class="img-responsive" alt="Big Uncle" />
                        <p>Splashpage - COLONIAL DEAL SS18 COLLECTION - sviluppata per conto di Big Uncle.</p>
                        <hr />
                        <p>Sviluppata con adattamento fullscreen in CSS3 e unità di misura REM.</p>
                        <hr />
						<p class="company">Splashpage realizzata in nss factory.</p>
                        <hr />
                        <ul>
                            <li>.Coda</li>
                            <li>.Koala</li>
                            <li>.HTML</li>
                        	<li>.SCSS</li>
                        </ul>
                        <hr />
                        <a href="http://www.biguncle.it" class="linkSite" target="_blank"><i class="fa fa-external-link"></i> Go to website</a>
                    </uib-accordion-group>               
                
                    <uib-accordion-group is-open="status19.open">
                        <uib-accordion-heading>
                        .18 My dad is posh<i class="fa" ng-class="{'fa-angle-up': status19.open, 'fa-angle-down': !status19.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Frontend Development</h4>
                        <img src="images/work/my-dad-is-posh.jpg" class="img-responsive" alt="Opsojects - My dad is posh" />
                        <p>Instant win sviluppata per conto di Opsobjects per la promozione di una nuova serie di orologi intercambiabili
                            con diverse combinazioni di colori.</p>
                        <hr />
                        <p>Sviluppo Frontend della web app con animazioni CSS3 e JQuery, responsiva e dinamica.</p>
                        <hr />
						<p class="company">Instant win realizzata in nss factory.</p>
                        <hr />
                        <ul>
                            <li>.Coda</li>
                            <li>.Koala</li>
                            <li>.Brownie</li>
                            <li>.Git</li>
                            <li>.Bitbucket</li>
                            <li>.SourceTree</li>
                            <li>.DeployBot</li>
                            <li>.HTML</li>
                        	<li>.SCSS</li>
                        	<li>.php</li>
                        	<li>.Smarty</li>
                            <li>.Bootstrap</li>
                        	<li>.JQuery</li>
                        </ul>
                        <hr />
                        <a href="https://www.opsobjects.com" class="linkSite" target="_blank"><i class="fa fa-external-link"></i> Go to website</a>
                    </uib-accordion-group>
                
                    <uib-accordion-group is-open="status18.open">
                        <uib-accordion-heading>
                        .17 Electrocarousel<i class="fa" ng-class="{'fa-angle-up': status18.open, 'fa-angle-down': !status18.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Frontend Development</h4>
                        <img src="images/work/electrocarousel.jpg" class="img-responsive" alt="Wycon - Electrocarousel" />
                        <p>Instant win sviluppata per conto di Wycon Cosmetics per la promozione di un nuovo prodotto cosmentico.</p>
                        <hr />
                        <p>Sviluppo Frontend dell'instant win: una serie di animazioni e audio ricreavano il tipico movimento
                            di un carosello con l'utilizzo di GreenSock.</p>
                        <hr />
						<p class="company">Instant win realizzato in nss factory.</p>
                        <hr />
                        <ul>
                            <li>.Coda</li>
                            <li>.Koala</li>
                            <li>.Brownie</li>
                            <li>.Git</li>
                            <li>.Bitbucket</li>
                            <li>.SourceTree</li>
                            <li>.DeployBot</li>
                            <li>.HTML</li>
                        	<li>.SCSS</li>
                        	<li>.php</li>
                        	<li>.Smarty</li>
                            <li>.Bootstrap</li>
                        	<li>.JQuery</li>
							<li>.TweenMax</li>
                        </ul>
                        <hr />
                        <a href="https://www.wyconcosmetics.com" class="linkSite" target="_blank"><i class="fa fa-external-link"></i> Go to website</a>
                    </uib-accordion-group>
                
                    <uib-accordion-group is-open="status17.open">
                        <uib-accordion-heading>
                        .16 My lipstick<i class="fa" ng-class="{'fa-angle-up': status17.open, 'fa-angle-down': !status17.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Frontend Development</h4>
                        <img src="images/work/my-lipstick.jpg" class="img-responsive" alt="Wycon - My lipstick" />
                        <p>Web app sviluppata per conto di Wycon Cosmetics, contest game con la possibilità di scegliere il colore preferito per la realizzazione di una nuova collezione di rossetti.</p>
                        <hr />
                        <p>Sviluppo Frontend della web app.</p>
                        <hr />
						<p class="company">App realizzata in nss factory.</p>
                        <hr />
                        <ul>
                            <li>.Coda</li>
                            <li>.Koala</li>
                            <li>.Brownie</li>
                            <li>.Git</li>
                            <li>.Bitbucket</li>
                            <li>.SourceTree</li>
                            <li>.DeployBot</li>
                            <li>.HTML</li>
                        	<li>.SCSS</li>
                        	<li>.php</li>
                        	<li>.Smarty</li>
                            <li>.Bootstrap</li>
                        	<li>.JQuery</li>
							<li>.TweenMax</li>
                        </ul>
                        <hr />
                        <a href="https://www.wyconcosmetics.com" class="linkSite" target="_blank"><i class="fa fa-external-link"></i> Go to website</a>
                    </uib-accordion-group>
				
                    <uib-accordion-group is-open="status16.open">
                        <uib-accordion-heading>
                        .15 La Fornace Centro Ippico<i class="fa" ng-class="{'fa-angle-up': status16.open, 'fa-angle-down': !status16.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Graphic & Development</h4>
                        <img src="images/work/lafornacecentroippico.jpg" class="img-responsive" alt="La Fornace Centro Ippico Layout" />
                        <p>Website realizzato privatamente per conto di La Fornace Centro Ippico, il luogo ideale per gli appassionati di equitazione e per chi ama essere immerso nella natura.</p>
                        <hr />
                        <p>Creazone Sito Web partendo da Template HTML5.</p>
                        <hr />
                        <ul>
                        	<li>.Photoshop</li>
                            <li>.Notepad++</li>
                            <li>.HTML</li>
                        	<li>.CSS</li>
                            <li>.Bootstrap</li>
                        	<li>.JQuery</li>
							<li>.Other JS libraries and plugins</li>
                        </ul>
                        <hr />
                        <a href="http://www.lafornacecentroippico.it" class="linkSite" target="_blank"><i class="fa fa-external-link"></i> Go to website</a>
                    </uib-accordion-group>
                
                    <uib-accordion-group is-open="status1.open">
                        <uib-accordion-heading>
                        .14 Koinos<i class="fa" ng-class="{'fa-angle-up': status1.open, 'fa-angle-down': !status1.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Graphic & Development</h4>
                        <img src="images/work/koinoslayout.jpg" class="img-responsive" alt="Koinos Layout" />
                        <p>"Koinos è un'azienda che si è fissata l'obiettivo di facilitare, semplificare e coadiuvare i compiti delle municipalità e dei loro comandi di Polizia nell'ambito dei controlli elettronici di velocità stradali."</p>
                        <p>A questo scopo è stata creata un applicazione per essere in grado di gestire e controllare dati e documenti dgitali in tempo reale e mettere in comunicazone simultaneamente più reparti.</p>
                        <hr />
                        <p>Ideazione e creazione del Layout Grafico prototipo dell'applicativo + Iconografia.</p>
                        <p class="company">Progetto seguito in ICube+.</p>
                        <hr />
                        <ul>
                        	<li>.Photoshop</li>
                            <li>.Illustrator</li>
                            <li>.IntelliJ IDEA</li>
                        	<li>.TortoiseSVN</li>
                            <li>.Notepad++</li>
                            <li>.HTML</li>
                        	<li>.CSS</li>
                            <li>.SCSS</li>
                            <li>.Foundation</li>
                        	<li>.JQuery</li>
                        </ul>
                        <hr />
                        <a href="http://www.koinos.eu" class="linkSite" target="_blank"><i class="fa fa-external-link"></i> Go to website</a>
                    </uib-accordion-group>
                    
                    <uib-accordion-group is-open="status2.open">
                        <uib-accordion-heading>
                        .13 Area Riscossioni<i class="fa" ng-class="{'fa-angle-up': status2.open, 'fa-angle-down': !status2.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Graphic & Development</h4>
                        <img src="images/work/areariscossioni.jpg" class="img-responsive" alt="Website Area Riscossioni" />
                        <p>Area Riscossioni, un'innovativa società di servizi di public utility che offre sevizi di riscossione. Un servizio completo e pianificato che comprende la raccolta, l'elaborazione ed il controllo dei dati, il cash flow, la completa rendicontazione del riscosso ed il pronto riversamento delle somme.</p>
                        <hr />
                        <p>Rinnovo grafico del sito web con l'utilizzo del CMS Proprietario.</p>
                        <p class="company">Website realizzato in ICube+.</p>
                        <hr />
                        <ul>
                        	<li>.Photoshop</li>
                            <li>.CMS</li>
                            <li>.HTML</li>
                        	<li>.CSS</li>
                            <li>.SCSS</li>
                            <li>.Foundation</li>
                        	<li>.JQuery</li>
                        </ul>
                        <hr />
                        <a href="http://www.areariscossioni.eu" class="linkSite" target="_blank"><i class="fa fa-external-link"></i> Go to website</a>
                    </uib-accordion-group>
                    
                    <uib-accordion-group is-open="status3.open">
                        <uib-accordion-heading>
                        .12 Ivana e cavalli<i class="fa" ng-class="{'fa-angle-up': status3.open, 'fa-angle-down': !status3.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Graphic & Development</h4>
                        <img src="images/work/ivanaecavalli.jpg" class="img-responsive" alt="Website Ivana e cavalli" />
                        <p>Website realizzato privatamente per conto di Ivana Koskova, professonista amazzone e accompagnatrice per escursioni a cavallo.</p>
                        <hr />
                        <p>Ideazione e creazione Layout Grafico, programmazione e impaginazione Sito Web.</p>
                        <hr />
                        <ul>
                        	<li>.Photoshop</li>
                            <li>.Illustrator</li>
                            <li>.Dreamvewer</li>
                            <li>.HTML</li>
                        	<li>.CSS</li>
                            <li>.Bootstrap</li>
                        	<li>.JQuery</li>
							<li>.Other JS libraries and plugins</li>
                        </ul>
                        <hr />
                        <a href="http://ivanaecavalli.it" class="linkSite" target="_blank"><i class="fa fa-external-link"></i> Go to website</a>
                    </uib-accordion-group>
                    
                    <uib-accordion-group is-open="status4.open">
                        <uib-accordion-heading>
                        .11 Semplit<i class="fa" ng-class="{'fa-angle-up': status4.open, 'fa-angle-down': !status4.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Graphic & Development</h4>
                        <img src="images/work/semplit.jpg" class="img-responsive" alt="Website Semplit" />
                        <p>Semplit, società di consulenza specializzata nella gestione e nella valorizzazione delle risorse aziendali, nella progettazione di sistemi organizzativi e gestionali per il raggiungimento degli obiettivi di business.</p>
                        <hr />
                        <p>Rinnovo grafico del sito web con l'utilizzo del CMS Proprietario.</p>
                        <p class="company">Website realizzato in ICube+.</p>
                        <hr />
                        <ul>
                        	<li>.Photoshop</li>
                            <li>.CMS</li>
                            <li>.HTML</li>
                        	<li>.CSS</li>
                            <li>.Foundation</li>
                        	<li>.JQuery</li>
                        </ul>
                        <hr />
                        <a href="http://www.semplit.it" class="linkSite" target="_blank"><i class="fa fa-external-link"></i> Go to website</a>
                    </uib-accordion-group>
                    
                    <uib-accordion-group is-open="status5.open">
                        <uib-accordion-heading>
                        .10 Demo Website Comune di Terni<i class="fa" ng-class="{'fa-angle-up': status5.open, 'fa-angle-down': !status5.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Graphic & Development</h4>
                        <img src="images/work/comunediterni.jpg" class="img-responsive" alt="Template Demo Website Comune di Terni" />
                        <p>Per conto del Comune di Terni, realizzata Template Demo interamente navigabile, strutturando menu e contenuti nel rispetto degli obblighi in materia di trasparenza, semplificazione e diffusione di informazione dei siti web della P.A. (decreto 33/2013 del 20 aprile), ottimizzato per l'alta leggibilità e responsive; template adatto a qualsasi Comune Italiano.</p>
                        <p class="company">Website realizzato in ICube+.</p>
                        <hr />
                        <ul>
                        	<li>.Photoshop</li>
                            <li>.Illustrator</li>
                            <li>.CMS</li>
                            <li>.HTML</li>
                        	<li>.CSS</li>
                            <li>.Foundation</li>
                        	<li>.JQuery</li>
                        </ul>
                        <hr />
                        <a href="http://terni.digitaltaxsuite.it" class="linkSite" target="_blank"><i class="fa fa-external-link"></i> Go to website</a>
                    </uib-accordion-group>
                    
                    <uib-accordion-group is-open="status6.open">
                        <uib-accordion-heading>
                        .09 Demo Website Comune di Messina<i class="fa" ng-class="{'fa-angle-up': status6.open, 'fa-angle-down': !status6.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Graphic & Development</h4>
                        <img src="images/work/comunedimessina.jpg" class="img-responsive" alt="Template Demo Website Comune di Messina" />
                        <p>Per conto del Comune di Messina, realizzata Template Demo interamente navigabile, strutturando menu e contenuti nel rispetto degli obblighi in materia di trasparenza, semplificazione e diffusione di informazione dei siti web della P.A. (decreto 33/2013 del 20 aprile), ottimizzato per l'alta leggibilità e responsive; template adatto a qualsasi Comune Italiano.</p>
                        <p class="company">Website realizzato in ICube+.</p>
                        <hr />
                        <ul>
                        	<li>.Photoshop</li>
                            <li>.Illustrator</li>
                            <li>.CMS</li>
                            <li>.HTML</li>
                        	<li>.CSS</li>
                            <li>.Foundation</li>
                        	<li>.JQuery</li>
                        </ul>
                        <hr />
                        <a href="http://comunedimessina.digitaltaxsuite.it" class="linkSite" target="_blank"><i class="fa fa-external-link"></i> Go to website</a>
                    </uib-accordion-group>
                    
                    <uib-accordion-group is-open="status7.open">
                        <uib-accordion-heading>
                        .08 Akropolis Milano<i class="fa" ng-class="{'fa-angle-up': status7.open, 'fa-angle-down': !status7.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Graphic & Development</h4>
                        <img src="images/work/akropolismilano.jpg" class="img-responsive" alt="Website Akropolis Milano" />
                        <p>Akropolis è la tua guida turistica per Milano che propone sempre nuovi itinerari culturali, percorsi tematici e visite guidate personalizzati  in base ai tuoi interessi, ai tuoi tempi e alle tue esigenze.</p>
                        <hr />
                        <p>Realizzazione completa del sito web con l'utilizzo del CMS Proprietario.</p>
                        <p class="company">Website realizzato in ICube+.</p>
                        <hr />
                        <ul>
                        	<li>.Photoshop</li>
                            <li>.CMS</li>
                            <li>.HTML</li>
                        	<li>.CSS</li>
                            <li>.Foundation</li>
                        	<li>.JQuery</li>
                        </ul>
                        <hr />
                        <a href="http://www.akropolismilano.com" class="linkSite" target="_blank"><i class="fa fa-external-link"></i> Go to website</a>
                    </uib-accordion-group>
                    
                    <uib-accordion-group is-open="status8.open">
                        <uib-accordion-heading>
                        .07 BNG Service<i class="fa" ng-class="{'fa-angle-up': status8.open, 'fa-angle-down': !status8.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Graphic & Development</h4>
                        <img src="images/work/bngservice.jpg" class="img-responsive" alt="Website BNG Service" />
                        <p>BNG Service è un'azienda specializzata nella vendita, assistenza e manutenzione di sistemi riscaldamento e condizionamento dell'aria dei principali produttori presenti sul mercato.</p>
                        <hr />
                        <p>Realizzazione completa del sito web con l'utilizzo del CMS Proprietario.</p>
                        <p class="company">Website realizzato in ICube+.</p>
                        <hr />
                        <ul>
                        	<li>.Photoshop</li>
                            <li>.CMS</li>
                            <li>.HTML</li>
                        	<li>.CSS</li>
                            <li>.Foundation</li>
                        	<li>.JQuery</li>
                        </ul>
                        <hr />
                        <a href="http://www.bngservice.it" class="linkSite" target="_blank"><i class="fa fa-external-link"></i> Go to website</a>
                    </uib-accordion-group>
                    
                    <uib-accordion-group is-open="status9.open">
                        <uib-accordion-heading>
                        .06 PatrimoniaExpert<i class="fa" ng-class="{'fa-angle-up': status9.open, 'fa-angle-down': !status9.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Graphic & Development</h4>
                        <img src="images/work/patrimoniaexpert.jpg" class="img-responsive" alt="Website PatrimoniaExpert" />
                        <p>PatrimoniaExpert è il primo e unico portale dedicato all'incontro tra offerta e domanda di consulenza qualificata in Italia. Puoi trovare il miglior consulente in Italia per la gestione del tuo patrimonio, selezionarlo per area consulenziale di tuo interesse e provincia di attività e ottenere una consulenza ad hoc. Previa registrazione si accede ad un account ove possibile inserire e modificare il proprio profilo social sia lato Investitore che Professionista finanziario; è possibile iscriversi ad eventi e corsi trattati da Professione Finanza.</p> <p>Website in versione beta.</p>
                        <hr />
                        <p>Wireframe, Sitemap, Grafica e codice Front-End.</p>
                        <p class="company">Website realizzato in Professione Finanza.</p>
                        <hr />
                        <ul>
                        	<li>.Photoshop</li>
                            <li>.illustrator</li>
                            <li>.Dreamweaver</li>
                            <li>.HTML</li>
                        	<li>.CSS</li>
                            <li>.Bootstrap</li>
                        	<li>.JQuery</li>
                        </ul>
                        <hr />
                        <a href="http://www.patrimoniaexpert.it" class="linkSite" target="_blank"><i class="fa fa-external-link"></i> Go to website</a>
                    </uib-accordion-group>
                    
                    <uib-accordion-group is-open="status10.open">
                        <uib-accordion-heading>
                        .05 Luce & Design<i class="fa" ng-class="{'fa-angle-up': status10.open, 'fa-angle-down': !status10.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Graphic</h4>
                        <img src="images/work/luceedesign.jpg" class="img-responsive" alt="Layout Luce e Design" />
                        <p>Layout grafico per negozio vendita di illuminazioni e complementi d'arredo.</p>
                        <p class="company">Website realizzato in Pagine Gialle.</p>
                        <hr />
                        <ul>
                        	<li>.Photoshop</li>
                        </ul>
                    </uib-accordion-group>
                    
                    <uib-accordion-group is-open="status11.open">
                        <uib-accordion-heading>
                        .04 Lignum<i class="fa" ng-class="{'fa-angle-up': status11.open, 'fa-angle-down': !status11.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Graphic</h4>
                        <img src="images/work/lignum.jpg" class="img-responsive" alt="Layout Lignum Arredo" />
                        <p>Layout grafico per attività di progettazione e reaizzazione soluzioni d'arredo.</p>
                        <p class="company">Website realizzato in Pagine Gialle.</p>
                        <hr />
                        <ul>
                        	<li>.Photoshop</li>
                        </ul>
                    </uib-accordion-group>
                    
                    <uib-accordion-group is-open="status12.open">
                        <uib-accordion-heading>
                        .03 Miramare<i class="fa" ng-class="{'fa-angle-up': status12.open, 'fa-angle-down': !status12.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Graphic</h4>
                        <img src="images/work/miramare.jpg" class="img-responsive" alt="Layout Mira Mare - Borse borsette" />
                        <p>Layout grafico per negozio di vendita ingrosso di borse e borsette.</p>
                        <p class="company">Website realizzato in Pagine Gialle.</p>
                        <hr />
                        <ul>
                        	<li>.Photoshop</li>
                        </ul>
                    </uib-accordion-group>
                    
                    <uib-accordion-group is-open="status13.open">
                        <uib-accordion-heading>
                        .02 A.Mauri<i class="fa" ng-class="{'fa-angle-up': status13.open, 'fa-angle-down': !status13.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Graphic</h4>
                        <img src="images/work/amauri.jpg" class="img-responsive" alt="Layout A. Mauri" />
                        <p>Layout grafico per azienda lavorazioni acciaio, ottone e alluminio.</p>
                        <p class="company">Website realizzato in Pagine Gialle.</p>
                        <hr />
                        <ul>
                        	<li>.Photoshop</li>
                        </ul>
                    </uib-accordion-group>
                    
                    <uib-accordion-group is-open="status14.open">
                        <uib-accordion-heading>
                        .01 Pasticceria Perlini<i class="fa" ng-class="{'fa-angle-up': status14.open, 'fa-angle-down': !status14.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Graphic</h4>
                        <img src="images/work/pasticceriaperlini.jpg" class="img-responsive" alt="Layout Pasticceria Perlini" />
                        <p>Layout grafico per rinomata pasticceria di Verona.</p>
                        <p class="company">Website realizzato in Pagine Gialle.</p>
                        <hr />
                        <ul>
                        	<li>.Photoshop</li>
                        </ul>
                    </uib-accordion-group>
                    
                    <uib-accordion-group is-open="status15.open">
                        <uib-accordion-heading>
                        .00 Adv Federfarma Bs - New Company - Energetic Source - Impresaclic<i class="fa" ng-class="{'fa-angle-up': status15.open, 'fa-angle-down': !status15.open}" aria-hidden="true"></i>
                        </uib-accordion-heading>
                        <h4>Graphic</h4>
                        <img src="images/work/advfederfarma.jpg" class="img-responsive" alt="Layout Adv Giornale Brescia" />
                        <p>Layout grafico per Adv pubblicizzata sul Giornale di Brescia.</p>
                        <p class="company">Adv realizzata in ICube+.</p>
                        <hr />
                        <ul>
                        	<li>.Photoshop</li>
                            <li>.Illustrator</li>
                            <li>.InDesign</li>
                        </ul>
                    </uib-accordion-group>
                    
                </uib-accordion>
                
            </div>
        </div>
        <!-- /.row -->
        
    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
        
<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-xs-8">
            	<div class="next">
                    <p class="read-next">read next</p>
                    <p class="next-page">. Contact</p>
                </div>
            </div>
            <div class="col-xs-4">
                <a class="btn btn-lg btn-primary pull-right next-arrow" href="contact">
                	<i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->